.CreateNote {
  cursor: pointer;
  outline: none;
  background-color: #003652;
  color: var(--grey-2);
  border: 3px solid #001b29;

  min-width: 200px;
  width: auto;
  padding: var(--size-4);

  display: flex;
  justify-content: space-between;

  margin: 10px;

  font: 500 var(--size-6) 'Red Hat Display', monospace;
  letter-spacing: 0.5px;
  transition: all 0.2s ease-in;
}
.CreateNote:hover,
.CreateNote:focus {
  box-shadow: var(--box-shadow-1);
}

.CreateNote span:nth-child(2) {
  display: flex;
  padding-left: 30px;
}
.CreateNote i {
  margin: auto var(--size-3);
  font-size: var(--size-7);
}
