.sideNotebookActions {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  padding: var(--size-6);
  background-color: var(--blue-2);
  border-radius: 0 6px 6px 0;
  box-shadow: 2px 2px 5px rgba(10, 10, 10, 0.5),
    1px 1px 0px rgba(10, 10, 10, 0.9), -1px -1px 4px rgba(10, 10, 10, 0.2);
}
.sideNotebookActions .action {
  cursor: pointer;
  outline: none;
  border: none;

  width: 50px;
  height: 30px;
  background-color: var(--blue-8);
  color: #fff;
  font-size: var(--size-7);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideNotebookActions .action::after {
  content: '';
  position: absolute;
  left: 0;
  top: -15px;
  border-bottom: 15px solid var(--blue-8);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.sideNotebookActions .action::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -15px;
  border-top: 15px solid var(--blue-8);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.sideNotebookActions .action i {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease-in;
}
.sideNotebookActions .action:hover i,
.sideNotebookActions .action:focus i {
  color: var(--positive);
}

.sideNotebookActions .action span {
  display: none;
}
