.SideBar {
  padding: var(--size-3);
  max-width: 250px;
  width: 250px;
  min-width: 250px;
  height: 100%;
  background-color: var(--blue-3);
  grid-template-rows: auto 1fr auto;
  z-index: 12;
}

/* TOP */
.SideTop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logoLink {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}
.logoLink h1 {
  color: #fff;
}

.logoLink svg {
  width: 60px;
  height: 60px;
}

.searchButton {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: var(--size-3);
  font-size: var(--size_4);
  width: 95%;
  height: 48px;

  color: var(--grey-2);
  background-color: #002b3d;
  border: 3px solid #001b29;
  outline: none;
}
.searchButton span {
  margin-left: var(--size-3);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
}
.searchButton i {
  font-size: 22px;
}
.searchButton:focus {
  box-shadow: var(--box-shadow-1);
  transition: all 0.2s ease-in;
}

/* MEDIUM */
.SideMiddle {
  margin-top: 50px;
  width: 100%;
  overflow: hidden auto;
}

.editCategories {
  cursor: pointer;
  margin-bottom: 20px;
  border: 3px solid #001b29 !important;
  outline: none;
  background-color: #000e14 !important;
  justify-content: space-between;
  margin-left: unset;
}
.SideBarLinkItem {
  margin: var(--size-3) auto;
  padding: var(--size-3);
  border: 3px solid #001b29;
  outline: none;
  background-color: transparent;
  height: 44px;
  width: 90%;
  color: var(--grey-2);
  text-decoration: none;

  display: flex;
  justify-items: center;
  align-items: center;

  transition: all 0.2s ease-in;
}
.SideBarLinkItem span {
  margin-left: var(--size-3);
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.SideBarLinkItem i {
  font-size: 22px;
}
.SideBarLinkItem:hover,
.SideBarLinkItem:focus {
  background: #002b3d;
  color: #fff;
}

/* BOTTOM */
.SideBottom {
  margin-top: 25px;
}
.profileButton {
  cursor: pointer;
  outline: none;
  border: 4px solid var(--blue-10);
  background-color: transparent;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
.profileButton i {
  font-size: 22px;
  margin: auto;
  color: var(--grey-2);
}
.profileButton img {
  width: 100%;
  height: 100%;
}
.profileButton:focus-within .ProfileBar {
  display: flex;
}

.header {
  background-color: #001824;
  display: none;
  height: 80px;
  width: 100%;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.header .expandButton {
  cursor: pointer;
  outline: none;
  border: none;

  background-color: transparent;
  color: #fff;
  font-size: var(--size-8);

  margin-left: var(--size-6);
  display: flex;
  justify-items: center;
  align-items: center;
}

.header .logoLink {
  width: auto;
  display: flex;
  margin: auto;
  align-items: center;
  text-decoration: none;
}
.header .logoLink h1 {
  color: #fff;
}

.header .logoLink svg {
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 661px) {
  .SideBar {
    display: grid !important;
  }
}
@media only screen and (max-width: 660px) {
  .SideBar {
    position: fixed;
    top: 80px;
    left: 0px;
  }
  .SideTop {
    display: none;
  }
  .SideMiddle {
    margin-top: unset;
    padding-bottom: 100px;
  }
  .SideBottom {
    display: none;
  }
  .header {
    display: grid;
  }
  .ProfileBar {
    background-color: var(--blue-2) !important;
    left: unset !important;
    bottom: unset !important;
    right: 0px !important;
    top: 80px !important;
  }
  .profileButton {
    margin-right: var(--size-4);
    width: 40px;
    height: 40px;
  }
  .header .logoLink h1 {
    font-size: var(--size-8);
  }
  .header .logoLink svg {
    display: none;
  }
}
