.backgroundPicker {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: var(--size-4);
}
.backgroundPreview {
  border: 4px solid var(--blue-5);
  width: 100px;
  height: 80px;
}
.backgroundPicker button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: var(--size-8);

  transition: all 0.1s ease-in;
}
.backgroundPicker button:focus {
  color: var(--blue-10);
}
.paperRadio {
  width: 70px;
  height: 70px;
  margin: 4px;
  -webkit-appearance: none;
  border: 3px solid transparent;
}
.paperRadio:focus,
.paperRadio:hover {
  border: 1px solid var(--grey-2);
}
.paperRadio:checked {
  border: 3px solid var(--grey-2);
}
