.globalContainer {
  display: flex;
  height: 100vh;
}

@media only screen and (max-width: 660px) {
  .globalContainer {
    flex-direction: column;
  }
}

@media print {
  .sideNotebook {
    display: none !important;
  }
  .collapseButton {
    display: none !important;
  }
  .controlPageCount {
    display: none !important;
  }
  body {
    background-color: #fff !important;
  }
  .notebookPage {
    background-color: #fff !important;
  }
}
@page {
  margin-top: 0;
  margin-bottom: 0;
}
