.mainPage {
  width: 100%;
  overflow: hidden auto;
}
.actionsContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.itemsGallery {
  width: 100%;
  padding: var(--size-8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  /*!! if we want to not same height*/
  /* align-items: flex-start;  */
  /* display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px; */
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  /* width: 100%; */
}
.my-masonry-grid-column {
  /* padding-left: 30px; gutter size */
  background-clip: padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
