.mainPage {
  width: 100%;
  overflow: hidden auto;
}
.actionsContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.itemsGallery {
  width: 100%;
  padding: var(--size-8);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  /* display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px; */
}
