:root {
  /* colors */
  --blue-1: #000e14;
  --blue-2: #00141f;
  --blue-3: #001824;
  --blue-4: #001b29;
  --blue-5: #002233;
  --blue-6: #00293d;
  --blue-7: #00111a;
  --blue-8: #003047;
  --blue-9: #003d5c;
  --blue-10: #003652;
  --blue-11: #d6f1ff;

  --grey-1: #7f7f7f;
  --grey-2: #bfbfbf;
  --grey-3: hsla(0, 0%, 75%, 0.5);

  --positive: hsl(152, 71%, 41%);
  --neutral: hsl(213, 71%, 41%);
  --warning: hsl(55, 80%, 65%);
  --error: hsl(9, 80%, 64%);

  /* shadows */
  --box-shadow-1: 0px 0px 12px 5px hsla(200, 100%, 25%, 0.2);

  /* borders */
  --border-1: 3px solid hsl(200, 100%, 10%);

  /* sizes */
  --size-1: 2px;
  --size-2: 4px;
  --size-3: 6px;
  --size-4: 10px;
  --size-5: 12px;
  --size-6: 16px;
  --size-7: 20px;
  --size-8: 26px;
}

/* scroll */
.scrollClass::-webkit-scrollbar {
  width: 6px;
}
.scrollClass::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.2s ease-in;
}
.scrollClass::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.tooltipParent {
  position: relative;
}
.tooltipParent:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip {
  touch-action: none;
  user-select: none;
  max-height: 50px;
  width: auto;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--blue-8);
  padding: var(--size-3);
  font-size: var(--size-6);
  color: #fff;
}
.tooltip::before {
  content: '';

  position: absolute;
  left: 50%;
  top: -4px;
  transform: translateX(-50%) rotate(45deg);

  width: 12px;
  height: 12px;

  background-color: var(--blue-8);
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 1300px;
  /* width: auto; */
}
.my-masonry-grid_column {
  background-clip: padding-box;
}
@media only screen and (max-width: 1035px) {
  .my-masonry-grid {
    width: auto;
  }
}
