.actionStatus {
}
.actionStatus span {
  padding: var(--size-4);
  text-align: center;
  max-width: 200px;
  width: 100%;
}
.positive {
  background-color: var(--positive);
  color: #fff;
}
.negative {
  background-color: var(--error);
  color: #fff;
}
