.imageBox {
  max-width: 100vw;
  width: 600px;
  height: auto;
  max-height: 100vh;

  background-color: var(--blue-3);
  box-shadow: var(--box-shadow-1);
  border: var(--border-1);

  color: #fff;

  display: flex;
  flex-direction: column;
}
.imageBox button {
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}
.imageBox button:hover,
.imageBox button:focus {
  backdrop-filter: brightness(1.3);
}
.topBar {
  width: 100%;
  border-bottom: 3px solid var(--neutral);

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.topBar span {
  color: #fff;
  text-align: center;
  grid-area: 1 /2 span;
  font-size: var(--size-7);
  padding: var(--size-4);
  font-weight: 600;
}
.topBar button:focus {
  color: var(--positive);
}
.topBar button:nth-child(2) {
  border-left: 3px solid var(--neutral);
}
.topBar button:nth-child(3) {
  border-left: 3px solid var(--neutral);
}
.bottomBar {
  padding: var(--size-4);
  display: flex;
  justify-content: flex-end;

  border-top: 3px solid var(--neutral);
}
.bottomBar button {
  width: 80px;
}
.bottomBar button:nth-child(2) {
  background-color: var(--neutral);
}

.imagePreview {
  padding: var(--size-8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;
  position: relative;
}
.imagePreview span {
  font-size: var(--size-7);
}
.imagePreview svg {
  touch-action: none;
  max-width: 240px;
  opacity: 0.7;
  transition: all 0.2s ease-in;
}
.dragOverClass svg {
  opacity: 0.9;
}
.imagePreview input[type='file'] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.imagePreview input[type='text'] {
  width: 100%;
  height: 50px;
  z-index: 3;

  outline: none;
  border: none;
  border-bottom: 2px solid var(--grey-2);
  padding: var(--size-4);

  color: #fff;
  font-size: var(--size-6);
  background-color: transparent;
}

.imagePreview img {
  width: 100%;
  z-index: 2;
}
.shapePreview {
  max-height: 100vh;
  height: 600px;
  padding: var(--size-8);
  overflow: hidden auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-8);
}
.shapePreview .shapeBox {
  height: unset;
  width: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
.shapeBox span {
  margin-bottom: 10px;
  font-size: 18px;
}
.shapeBox svg:nth-child(0) {
  fill: red !important;
}
.shapeBox:hover,
.shapeBox:focus {
  outline: 1px solid #fff;
}

.filterBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: var(--size-4);
}
.filterBar h1 {
  font-size: var(--size-7);
}
.filterBar .filter {
  position: relative;
  width: 80px;
  height: 30px;
}
.filterBar .filter span {
  display: none !important;
  touch-action: none;
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.filterBar .filter input {
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  background-color: var(--grey-3);
}
.filterBar .filter input::before {
  content: 'Grayscale';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.filterBar .filter:nth-child(2) input::before {
  content: 'Sepia';
}
.filterBar .filter input:checked {
  background-color: var(--neutral);
}
