.chartPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden auto;
}
.chartPreview h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: var(--size-7);
}
.chartPreview .collpaseButton {
  margin-right: 5px;
  font-size: 28px;
  transition: all 0.3s ease-in;
}
.collpaseButton:hover,
.collpaseButton:focus {
  color: var(--positive);
}
.collapsed {
  transform: scaleY(0);
}
.visible {
  transform: scaleY(1);
}

.titleInput {
  display: flex;

  margin-top: 15px;
  padding: var(--size-3);
  font-size: var(--size_4);
  letter-spacing: 0.5px;
  width: 95%;
  height: 48px;

  color: var(--grey-2);
  background-color: #002b3d;
  border: 3px solid #001b29;
  outline: none;
}
.titleInput:focus {
  box-shadow: var(--box-shadow-1);
  transition: all 0.2s ease-in;
}

.chartTypes {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  overflow: hidden auto;
}

.dataField {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dataField .dataset {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}
.dataField .dataset input {
  display: flex;

  padding: var(--size-3);
  font-size: var(--size_4);
  letter-spacing: 0.5px;
  height: 48px;

  color: var(--grey-2);
  background-color: #002b3d;
  border: 3px solid #001b29;
  outline: none;
}
.dataField .newData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 100px;
  padding: var(--size-3);
  font-size: var(--size_4);
  letter-spacing: 0.5px;
  height: 48px;

  color: var(--grey-2);
  background-color: var(--neutral);
  border: 3px solid #001b29;
  outline: none;
}
