.drawBox {
  width: 690px !important;
  height: 100vh;
}
.drawPreview .textTools {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textTools input[type='color'] {
  padding: 0;
  margin: 0;
}
.textTools input[type='range'] {
  width: 100px;
  -webkit-appearance: none;
  background-color: transparent;
  overflow: hidden;
}
.textTools input[type='range']::-webkit-slider-runnable-track {
  cursor: pointer;
  background-color: var(--blue-8);
  border-radius: 5px;
  content: '1';
  color: white;
}
.textTools input[type='range']::-webkit-slider-thumb {
  /* movable circle */
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 1px;
  transform-origin: right;
  transform: scaleX(100);

  background-color: #fff;
}

.drawPreview .textTools .colorStatic {
  padding: var(--size-4);
  background-color: var(--blue-8);
}
.drawPreview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drawPreview canvas {
  border: 1px solid #fff;
}
