.chartPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden auto;
}
.chartPreview h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: var(--size-7);
  margin: 15px 0 5px 0;
}

.titleInput {
  display: flex;

  margin-top: 15px;
  padding: var(--size-3);
  font-size: var(--size_4);
  letter-spacing: 0.5px;
  width: 95%;
  height: 48px;

  color: var(--grey-2);
  background-color: #002b3d;
  border: 3px solid #001b29;
  outline: none;
}
.titleInput:focus {
  box-shadow: var(--box-shadow-1);
  transition: all 0.2s ease-in;
}

.chartTypes {
  background-color: #f8f8ff;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dataField {
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 500px;
  overflow: hidden auto;
  padding: var(--size-3);
}
.dataField .dataset {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 48px;
  grid-gap: 5px;
  margin: 2.5px 0;
}
.dataField .dataset input {
  display: flex;

  padding: var(--size-3);
  font-size: var(--size_4);
  letter-spacing: 0.5px;
  height: 48px;

  color: var(--grey-2);
  background-color: #002b3d;
  border: none;
  outline: none;
}
.dataField .newData {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 100px;
  padding: var(--size-3);
  font-size: var(--size_4);
  letter-spacing: 0.5px;
  height: 48px;

  color: var(--grey-2);
  background-color: var(--neutral);
  border: none;
  outline: none;
}
.dataField .newData span {
  margin-left: 10px;
}
.deleteData {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--size-3);
  font-size: 24px !important;
  height: 48px !important;

  background-color: transparent;
  border: none;
}
.deleteData:focus,
.newData:focus {
  outline: 1px solid white;
}

.changeChartType button {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;

  font-size: var(--size-7);
  color: #fff;
  background: linear-gradient(180deg, var(--blue-8) 0%, var(--blue-10) 100%);
  box-shadow: inset -20px -20px 5px rgba(255, 255, 255, 0);
  transition: all 0.25s ease-in;
}

.changeChartType button:hover,
.changeChartType button:focus {
  box-shadow: inset 40px 40px 5px rgba(255, 255, 255, 0.1);
}
.changeChartType button:hover {
  color: var(--warning);
}

.changeChartType button i {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
