.drawBox {
  width: 690px !important;
  height: 100vh;
}
.drawPreview .textTools {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drawPreview .textTools button,
input {
  width: unset;
  height: unset;
  padding: var(--size-4);
  /* background-color: var(--blue-11); */
}
.drawPreview .textTools .colorStatic {
  padding: var(--size-4);
  background-color: var(--blue-9);
}
.drawPreview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.drawPreview canvas {
  border: 1px solid #fff;
}
